body { /*全体のフォント指定*/
    font-family: "Hiragino Kaku Gothic Pron","メイリオ",sans-serif;
}

h1 { /*見出しの設定*/
    margin: 0 auto; /*これ単体では中央揃えにならない*/
    margin-top: 30px;
    margin-bottom: 20px;
    border-left: 4px red solid;
    background-color: #f1f1f1;
    padding: 5px 0px 5px 15px; /*↑とこれを組み合わせることで、フォームと一致*/
    width: 500px;
    font-size: 20px;
}

.confirm {
    margin: 0 auto;
    border: 3px #ebebeb solid;
    border-radius: 10px; /*ボックスの角を丸める*/
    width: 450px;
    padding: 20px 20px 60px 20px;
    background-color: #fbfbfb;
}

form {
    float: left;
    margin-right: 15px;
}

.button1 {
    border: 1px lightgray solid;
    border-bottom: 2px gray solid;
    border-radius: 5px;
    padding: 4px 10px;
    color: white;
    background-color: #bfbfbf;
}

.button2 {
    border: 1px lightgray solid;
    border-bottom: 2px #E08600 solid;
    border-radius: 5px;
    padding: 4px 10px;
    color: white;
    background-color: darkorange;
}